:root {
    /* CSS HEX */
    --dark-lava: #463F3A;
    --middle-grey: #8A817C;
    --pale-silver: #BCB8B1;
    --alabaster: #F4F3EE;
    --melon: #766bb3;
    }

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}