@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

/* Site Colors 
--------------------------------------------------------------*/

* {
    --red-salsa: hsla(359, 94%, 62%, 1);
    --orange-red: hsla(21, 89%, 56%, 1);
    --yellow-orange-color-wheel: hsla(33, 94%, 55%, 1);
    --mango-tango: hsla(20, 94%, 63%, 1);
    --maize-crayola: #f9c54e;
    --pistachio: hsla(94, 38%, 59%, 1);
    --zomp: hsla(162, 43%, 46%, 1);
    --cadet-blue: hsla(178, 30%, 43%, 1);
    --queen-blue: hsla(208, 25%, 45%, 1);
    --cg-blue: hsla(198, 61%, 39%, 1);
    --gainsboro: hsla(240, 9%, 91%, 1);
    --platinum: hsla(240, 2%, 92%, 1);
}
 


/* Messages
--------------------------------------------------------------*/

/* Messages main container */
#messages-container {
    height: 25rem;
    min-width: 15rem;
    max-width: 35rem;
    background-color: var(--gainsboro);
}

/* Messages status bar */

#m-status--container {
    min-width: 90%;
}

/* Messages History */

.m-sent--block {
    background-color: var(--cg-blue);
    color: var(--platinum);
    text-align: start;
}

.m-rec--block {
    background-color: var(--pistachio);
    color: var(--platinum);
    text-align: end;
}

#messages-chat-offline--span {
    min-height: 10rem;
    font-size: 150%;
    background-color: var(--queen-blue);
    color: var(--platinum);
}